.checkbox {
  position: relative;

  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox__icon {
  position: absolute;
  top: -4px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: $white;

  border: 2px solid $grey;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url("../img/icon-yes-form.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input:hover + .checkbox__icon {
  border: 2px solid $dark-blue;
}

.checkbox__input:focus + .checkbox__icon {
  cursor: pointer;
  border: 2px solid $dark-blue;
  outline: 2px solid $focus;
}

.checkbox__input:active + .checkbox__icon {
  border: 2px solid $pink;
}

@media (min-width: 660px) {
  .checkbox__icon {
    left: 58px;
  }
}

// @media (min-width: 960px) {
//   .checkbox .checkbox__icon {
//     &:nth-of-type(3) {
//       left: 56px;
//     }

//     &:nth-child(4) {
//       left: 56px;
//     }

//     &:nth-child(5) {
//       left: 59px;
//     }

//     &:nth-child(6) {
//       left: 48px;
//     }
//   }
// }
