.contacts__link {
  display: block;

  color: $dark-blue;

  &:hover,
  &:focus {
    color: $pink;
    // У SVG стоит currentColor
  }

  &:active {
    opacity: 0.3;

    color: $dark-blue;
  }
}

.contacts__logo-desktop {
  display: none;
}

@media (min-width: 960px) {
  .contacts__logo-mobile {
    display: none;
  }

  .contacts__logo-desktop {
    display: block;
  }
}
