.contest__slogan {
  padding-top: 45px;
  padding-bottom: 34px;
  width: 280px;
}

.contest__hidden,
.contest__hidden-star {
  display: none;
}

.contest__post {
  display: block;
  padding: 15px 3px 14px 0;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 280px;

  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $green;
  border: 2px solid $green;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: $dark-green;
    border: 2px solid $dark-green;
  }

  &:active {
    color: $down-post;
  }

  &:disabled {
    background-color: $grey;
    border: 2px solid $grey;
  }
}

.contest__varning {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 183px;

  line-height: 30px;
  text-transform: uppercase;
}

.contest__star {
  color: $pink;
}

@media (min-width: 660px) {
  .contest__wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 660px;
  }

  .contest__slogan {
    padding-top: 92px;
    padding-bottom: 66px;
    width: 490px;
  }

  .contest__hidden {
    display: inline;
  }

  .contest__post {
    margin: 67px 0 50px 0;
    width: 300px;
  }

  .contest__varning {
    margin: 85px -2px 0 auto;
  }
}

@media (min-width: 960px) {
  .contest__wrapper {
    padding: 0 10px;
    max-width: 960px;
  }

  .contest__slogan {
    padding-top: 92px;
    padding-bottom: 50px;
    width: 756px;
  }

  .contest__post {
    margin: 0;
    margin-top: 65px;
    width: 300px;
  }

  .contest__hidden-star {
    display: inline;
  }

  .contest__varning {
    margin: 83px 0 0 auto;
    width: 314px;
  }
}
