.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  padding: 0;
  margin: 0;

  line-height: 18px;
}

.copyright__link {
  display: inline-block;

  margin-top: 2px;
  width: 27px;
  height: 34px;

  color: $pink;

  &:hover,
  &:focus {
    color: $dark-blue;
    // У SVG стоит currentColor
  }

  &:active {
    color: $down-link;
  }
}

.copyright__text:hover ~ .copyright__link,
.copyright__text:focus ~ .copyright__link {
  color: $dark-blue;
}

@media (min-width: 960px) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-top: 6px;
  }
}
