.editing {
  position: relative;

  background-color: $light-grey;

  &::after {
    content: "";

    position: absolute;
    bottom: 201px;

    width: 100%;
    height: 1px;

    background-color: $down-cancel;
  }
}

.editing__change {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -2px;
}

.editing__image-tablet,
.editing__image-desktop {
  display: none;
}

.editing__icon-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0 112px 36px;
  width: 200px;
}

.editing__icon {
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  & path:nth-child(2),
  & rect {
    fill: $down-link;
  }

  &--active path:nth-child(2),
  &--active rect {
    fill: $pink;
  }

  &:hover path:nth-child(2),
  &:focus path:nth-child(2),
  &:hover rect,
  &:focus rect, {
    fill: $button-hover;
  }

  &--active:hover path:nth-child(2),
  &--active:focus path:nth-child(2) {
    fill: $pink;
  }
}

.editing__contrast path {
  fill: $down-link;

  &:hover path,
  &:focus path {
    fill: $button-hover;
  }
}

.editing__crop,
.editing__fill {
  width: 48px;
  height: 48px;
}

.editing__fill {
  padding-top: 2px;
  margin-left: -8px;
}

.editing__contrast {
  width: 32px;
  height: 32px;
}

.editing__scale {
  position: absolute;
  bottom: 73px;
  left: 20px;

  display: none;
  margin: 0;
  width: 240px;
  height: 2px;

  &--active {
    display: block;
  }
}

.editing__post,
.editing__cancel {
  padding: 15px 8px 16px 8px;
  width: 280px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  background-color: transparent;
  border-radius: 100px;
}

.editing__post {
  margin-bottom: 12px;

  color: $pink;

  border: 3px solid $pink;

  &:hover,
  &:focus {
    color: $white;

    background-color: $pink;
  }

  &:active {
    color: $down-post;
  }
}

.editing__cancel {
  margin-bottom: 41px;

  color: $down-cancel;

  border: 3px solid $down-cancel;

  &:hover,
  &:focus {
    color: $down-link;

    border: 3px solid $down-link;
  }

  &:active {
    color: $down-post;

    background-color: $down-link;
  }
}

@media (min-width: 660px) {
  .editing {
    &::after {
      height: 0;
    }
  }

  .editing__change {
    flex-direction: row;
    margin-left: 0;
  }

  .editing__image-mobile,
  .editing__image-desktop {
    display: none;
  }

  .editing__image-tablet {
    display: block;
  }

  .editing__tools-wrapper {
    display: flex;
    flex-direction: column;

    margin-left: 47px;
  }

  .editing__icon-wrapper {
    flex-wrap: wrap;
    align-content: center;

    padding: 8px 0 38px 0;
    width: 255px;
  }

  .editing__icon {
    padding-bottom: 73px;

    & path:nth-child(2),
    & rect {
      fill: $pink;
    }

    &::after {
      content: "";

      position: absolute;
      top: 55px;
      left: -2px;

      width: 275px;
      height: 1px;

      background-color: $down-cancel;
    }
  }

  .editing__crop,
  .editing__fill {
    width: 24px;
    height: 22px;
  }

  .editing__fill {
    margin-left: 1px;

    &::after {
      top: 128px;
    }
  }

  .editing__contrast {
    margin-top: -1px;
    margin-left: 6px;

    width: 16px;
    height: 16px;

    &::after {
      top: 198px;
    }
  }

  .editing__contrast path {
    fill: $pink;
  }

  .editing__scale {
    position: static;

    display: block;
    margin-top: -49px;
    margin-left: 7px;
    width: 202px;

    &--fill {
      margin-top: -51px;
    }

    &--contrast {
      margin-top: -58px;
    }
  }

  .editing__post,
  .editing__cancel {
    padding-right: 10px;
    padding-left: 0;
    width: 260px;
  }

  .editing__post {
    margin-bottom: 24px;
  }
}

@media (min-width: 960px) {
  .editing__change {
    margin-left: 70px;
  }

  .editing__image-mobile,
  .editing__image-tablet {
    display: none;
  }

  .editing__image-desktop {
    display: block;
  }

  .editing__tools-wrapper {
    flex-wrap: wrap;
    flex-direction: row;

    margin-left: 88px;
    width: 460px;
  }

  .editing__icon-wrapper {
    padding: 0 0 117px 0;
    margin-top: -13px;
    width: 382px;
  }

  .editing__icon {
    &::after {
      content: "";

      top: 68px;
      left: 2px;

      width: 410px;
      height: 1px;

      background-color: $down-cancel;
    }
  }

  .editing__crop,
  .editing__fill {
    width: 48px;
    height: 44px;
  }

  .editing__fill {
    margin-left: 2px;

    &::after {
      top: 141px;
    }
  }

  .editing__contrast {
    margin-top: 3px;
    margin-left: 8px;

    width: 32px;
    height: 32px;

    &::after {
      top: 211px;
    }
  }

  .editing__scale {
    margin-top: -25px;
    margin-left: 7px;
    width: 288px;

    &--fill {
      margin-top: -27px;
    }

    &--contrast {
      margin-top: -38px;
    }
  }

  .editing__post,
  .editing__cancel {
    padding: 6px 10px 8px 16px;
    margin-bottom: 0;
    width: 183px;
  }

  .editing__post {
    margin-left: 2px;
    margin-right: 43px;
  }
}
