.effect {
  display: none;
}

.effect__timer {
  position: relative;
  width: 238px;
  height: 276px;
}

.effect__dial {
  position: absolute;
  top: 55px;
  left: 18px;

  width: 176px;
  height: 176px;

  border: 13px solid $pink;
  border-radius: 50%;
}

.effect__hours {
  position: absolute;
  top: 76px;
  left: 63px;

  display: block;
  padding: 0;
  margin: 0;

  font-size: 96px;
  line-height: 149.5px;
  font-weight: 700;
  color: $pink;
}

.effect__description {
  text-align: left;
}

.effect__title {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black;
}

.effect__text {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.effect__link {
  color: $pink;

  border-bottom: 1px solid $pink;

  &:hover,
  &:focus {
    color: $dark-blue;

    border-bottom: 1px solid $dark-blue;
  }

  &:active {
    color: $down-link;

    border: none;
  }
}

@media (min-width: 660px) {
  .effect {
    display: block;
  }


  .effect__deskrop {
    display: none;
  }

  .effect__wrapper {
    display: flex;
  }

  .effect__timer {
    margin-top: 59px;
    margin-left: 1px;
    margin-right: 0;
  }

  .effect__description {
    margin-top: 96px;
    margin-left: 70px;
    width: 296px;
  }

  .effect__position {
    display: block;
  }
}

@media (min-width: 960px) {
  .effect {
    background-color: $light-grey;
  }

  .effect__tablet {
    display: none;
  }

  .effect__deskrop {
    display: block;
  }

  .effect__timer {
    margin-top: 24px;
    width: 298px;
    height: 345px;
  }

  .effect__dial {
    top: 68px;
    left: 21px;

    width: 221px;
    height: 221px;

    border: 17px solid $pink;
  }

  .effect__hours {
    top: 95px;
    left: 79px;

    font-size: 120px;
    line-height: 187px;
  }

  .effect__description {
    margin-top: 115px;
    margin-left: 67px;
    width: 526px;

    text-align: left;
  }

  .effect__position {
    display: inline;
  }

  .effect__position-desktop {
    display: block;
  }

  .effect__title {
    padding-bottom: 21px;
  }

  .effect__text {
    padding-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
