.main-nav {
  position: relative;
  background-color: $dark-blue;
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 0;

  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  &:hover path,
  &:focus path {
    fill: $pink;
  }

  &:active path {
    fill: $down-mobile;
  }
}

.main-nav__list {
  background-color: $dark-blue;
}

.main-nav--closed .main-nav__cross,
.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  top: -46px;
}

.main-nav--closed .main-nav__burger {
  width: 49px;
  height: 24px;
}

.main-nav--opened .main-nav__burger {
  display: none;
}

.main-nav--opened .main-nav__cross {
  display: block;
  width: 22px;
  height: 23px;
}

.main-nav--opened .main-nav__list {
  position: static;

  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: 660px) {
  .main-nav__toggle {
    top: -64px;
  }

  .main-nav--closed .main-nav__toggle {
    top: -67px;
  }
}

@media (min-width: 960px) {
  .main-nav--opened .main-nav__list,
  .main-nav--closed .main-nav__list,
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin: 45px 0 47px auto;

    background-color: transparent;
  }
}
