.main-nav {
  position: relative;
  background-color: $dark-blue;
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 19px;
  width: 24px;
  height: 23px;
}

@media (min-width: 660px) {
  .main-nav__toggle {
    top: -63px;
  }
}

@media (min-width: 960px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin: 45px 5px 45px 172px;

    background-color: transparent;
  }

  .main-nav__list {
    display: flex;
  }
}
