.map {
  position: relative;

  height: 235px;

  &::after {
    content: "";

    position: absolute;
    bottom: 70px;
    left: 45vw;

    display: block;
    width: 36px;
    height: 36px;

    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
  }
}

.map iframe {
  width: 100%;
  height: 100%;

  border: none;
}

.map__image {
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: -2;
}

.map img {
  width: 100%;

  object-fit: cover;
}

@media (min-width: 660px) {
  .map {
    height: 399px;

    &::after {
      bottom: 145px;
      left: 47vw;
    }
  }

  .map__image {
    bottom: -32px;
  }
}

@media (min-width: 960px) {
  .map {
    height: 506px;

    &::after {
      bottom: 203px;
      left: 49vw;
    }
  }

  .map__image {
    bottom: -31px;
  }
}
