.page-title {
  text-align: center;
}

.page-title__text {
  padding: 0;
  margin: 0 auto;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;

  &--photo {
    width: 168px;
    padding-top: 30px;
    padding-bottom: 82px;
  }

  &--form {
    width: 226px;
    padding-top: 30px;
    padding-bottom: 53px;
  }
}
