.page-header {
  color: $white;

  background-color: $dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 245px;
  background-size: cover;
  background-repeat: no-repeat;
}
