.page-header {
  color: $white;

  background-color: $dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 259px;
  background-size: 100% 462px, cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header--closed {
  background-position: center 0;
}

.page-header--opened {
  background-position: center 259px;
}

.page-header--closed .page-header__nav {
  background-color: $nav;
}

.page-header--opened .page-header__nav {
  background-color: $dark-blue;
}

.page-header__logo {
  display: block;
  padding: 22px 0 25px 0;
  width: 75px;
  height: 22px;

  color: $white;

  &:hover,
  &:focus {
    color: $pink;
    // У SVG стоит currentColor
  }

  &:active {
    color: $down-post;
  }
}

.page-header--closed .page-header__logo {
  padding-bottom: 23px;
}

.page-header--opened .page-header__logo {
  padding-bottom: 25px;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 255px;
    background-size: auto;
  }

  @media (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: center 257px;
      background-size: 1200px auto;
    }
  }

  .page-header--closed {
    background-position: center 0;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo {
    padding-top: 27px;
    width: 147px;
    height: 40px;
  }

  .page-header--opened .page-header__logo,
  .page-header__logo {
    padding-bottom: 42px;
  }

  .page-header--closed .page-header__logo {
    padding-bottom: 43px;
    margin-bottom: 1px;
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-size: auto;
  }

  @media (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: center 12px;
      background-size: 2560px auto;
    }
  }

  .page-header--opened .page-header__nav,
  .page-header--closed .page-header__nav,
  .page-header__nav {
    background-color: $nav;
  }

  .page-header--opened .page-header__wrapper-nav,
  .page-header--closed .page-header__wrapper-nav,
  .page-header__wrapper-nav {
    display: flex;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo {
    padding: 27px 0 43px 1px;
    width: 147px;
    height: 40px;
  }

  .page-header--closed .page-header__logo {
    margin-bottom: 0;
  }
}
