.page-header {
  color: $white;

  background-color: $dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 259px;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__logo {
  display: block;
  padding: 22px 0 25px 0;
  width: 75px;
  height: 22px;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 255px;
    background-size: auto;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 42px;
    width: 147px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-size: auto;
  }

  .page-header__nav {
    background-color: rgba($black, 0.3);
  }

  .page-header__wrapper-nav {
    display: flex;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo {
    padding: 27px 0 43px 1px;
    width: 147px;
    height: 40px;

    &:hover path,
    &:focus path {
      fill: $pink;
    }

    &:active path {
      fill: $down-post;
    }
  }
}
