.page-footer {
  background-color: $white;
}

.page-footer--index {
  display: none;
}

@media (min-width: 660px) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
