.panel-editing__slogan {
  padding: 40px 0 42px 0;
  margin: 0 auto;
  width: 254px;

  line-height: 30px;
  text-align: center;
}

.panel-editing__slogan-position {
  display: block;
}

.panel-editing__send {
  padding-top: 20px;
}

@media (min-width: 660px) {
  .panel-editing__slogan {
    padding: 65px 0 69px 0;
    width: 425px;

    font-size: 18px;
  }

  .panel-editing__send {
    padding-top: 57px;
    padding-bottom: 13px;
  }
}

@media (min-width: 960px) {
  .panel-editing {
    padding-bottom: 28px;
  }

  .panel-editing__slogan {
    padding: 59px 0 66px 0;
  }

  .panel-editing__send {
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 940px;
  }
}
