.photo {
  margin-top: 45px;

  background-color: #ffffff;
}

.photo__slogan {
  width: 243px;
}

.photo__list {
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  margin-top: 49px;

  list-style: none;
}

.photo__list-second {
  padding: 0;
  margin: 0;

  list-style: none;
}

.photo__list-item {
  padding: 0;
  margin: 0 auto;
  width: 280px;

  &--panorama,
  &:nth-child(2) {
    width: 100%;
  }
}

@media (min-width: 660px) {
  .photo {
    margin-top: 92px;
  }

  .photo__slogan {
    width: 438px;
  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 56px;
  }

  .photo__list-second {
    display: flex;
    flex-wrap: wrap;
  }

  .photo__list-item {
    margin-top: 20px;
    width: 300px;

    &--panorama {
      margin-top: 47px;
      margin-bottom: 10px;
      width: 100%;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .photo__second-item {
    &:nth-child(even) {
      margin-left: 20px;
    }
  }
}

@media (min-width: 960px) {
  .photo__slogan {
    width: 571px;
  }

  .photo__list {
    margin-top: 68px;
  }

  .photo__list-item {
    margin-right: 0;
    width: 300px;

    &--panorama {
      width: 100%;
    }
  }

  .photo__second-item {
    &:nth-child(n+4) {
      margin-top: 54px;
    }

    &:nth-child(even) {
      margin-left: 0;
    }

    &:nth-child(n+2) {
      margin-left: 20px;
    }

    &:nth-child(4) {
      margin-left: 0;
    }
  }
}
