.radio {
  position: relative;

  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
}

.radio:hover {
  cursor: pointer;
}

.radio__icon {
  position: absolute;
  top: -4px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: $white;

  border: 2px solid $grey;
  border-radius: 50%;
}

.radio__input:checked + .radio__icon::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-color: $pink;

  border-radius: 50%;
}

.radio__input:hover + .radio__icon {
  border: 2px solid $dark-blue;
}

.radio__input:focus + .radio__icon {
  cursor: pointer;
  border: 2px solid $dark-blue;
  outline: 2px solid $focus;
}

.radio__input:active + .radio__icon {
  border: 2px solid $pink;
}

@media (min-width: 660px) {
  .radio__icon {
    left: 58px;
  }
}

@media (min-width: 960px) {
  .radio__icon {
    left: 74px;
  }
}
