.reviews {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: -88px;
    left: 0;

    width: 100%;
    height: 97px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    z-index: 2;
  }
}

.reviews__wrapper {
  position: relative;
}

.reviews__list {
  padding-top: 42px;
  padding-bottom: 15px;

  text-align: center;
}

.reviews__arrow {
  position: absolute;
  top: 212px;

  display: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 41px;

  color: $down-link;

  background-color: transparent;
  border: none;

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }

  &:hover,
  &:focus {
    color: $slider-toggle;
    // У SVG стоит currentColor
  }

  &:active {
    color: $down-cancel;
  }
}

.reviews__quote {
  padding: 0;
  margin: 0;
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: $black;
}

.reviews__author-age {
  display: none;
  padding: 0;
  margin: 0;
}

.reviews__text {
  padding: 0;
  padding-top: 13px;
  margin: 0;
  line-height: 30px;
}

.reviews__btn {
  display: none;
}

.reviews__nav {
  margin-top: 33px;
}

@media (min-width: 660px) {
  .reviews {
    &::after {
      bottom: -78px;

      height: 90px;
    }
  }

  .reviews__list {
    padding-top: 85px;
  }

  .reviews__quote {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    padding-top: 35px;
    padding-bottom: 2px;

    font-size: 20px;

    order: 1;
  }

  .reviews__author-age {
    display: inline;

    line-height: 30px;

    order: 2;
  }

  .reviews__text {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .reviews {
    &::after {
      bottom: -130px;

      height: 130px;
    }
  }

  .reviews__nav {
    display: none;
  }

  .reviews__list {
    padding-top: 172px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 688px;

    &::before {
      content: "";

      position: absolute;
      top: 72px;
      left: 443px;

      width: 79px;
      height: 65px;

      background-image: url("../img/icon-quotes.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .reviews__author {
    padding-top: 36px;

    font-size: 24px;
  }

  .reviews__author-age {
    font-size: 18px;
  }

  .reviews__arrow {
    display: block;
  }
}
