.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.site-list__item {
  width: 146px;
  margin: 0;
  padding: 17px 87px 15px 87px;

  text-align: center;

  box-shadow: 0px 1px 0 0 #000000, inset 0px 2px 0 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  color: #ffffff;
}
