.site-list {
  padding: 0;
  margin: 0 -20px;

  list-style: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;

  border-top: 1px solid $black;
}

.site-list__item {
  padding: 16px 89px 14px 87px;
  margin: 0;

  width: 144px;

  text-align: center;

  border-bottom: 1px solid $black;
  border-top: 1px solid $nav-white;
}

.site-list__link {
  color: $white;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: $down-mobile;
  }

  &--active:hover,
  &--active:focus,
  &--active:active {
    color: $white;
  }
}

@media (min-width: 660px) {
  .site-list__item {
    padding-right: 241px;
    padding-left: 258px;
  }
}

@media (min-width: 960px) {
  .site-list {
    margin: 0;

    line-height: 18px;
    font-weight: 400;
    text-transform: none;

    border: none;
  }

  .site-list__item {
    padding: 0;
    margin-right: 40px;
    width: 131px;

    border: none;

    &:nth-last-child(1) {
      margin-right: 0;
      margin-left: 9px;
    }
  }

  .site-list__link {
    &:active {
      color: $down-post;
    }

    &--active {
      padding-bottom: 9px;

      border-bottom: 2px solid $white;
    }

    &--active:hover,
    &--active:focus {
      color: $white;
    }

    &--active:active {
      color: $white;
    }
  }
}
