.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.site-list__item {
  margin: 0;
  padding: 18px 87px 14px 86px;

  text-align: center;

  box-shadow: 0 1px 0 0 $black, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.site-list__link {
  color: $white;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: $down-mobile;
  }

  &--active:hover,
  &--active:focus {
    color: $white;
  }

  &--active:active {
    color: $white;
  }
}

@media (min-width: 1200px) {
  .site-list {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  .site-list__item {
    padding: 0;
    margin-right: 80px;

    box-shadow: none;
  }

  .site-list__link {
    &:active {
      color: $down-post;
    }

    &--active {
      padding-bottom: 9px;

      border-bottom: 2px solid $white;
    }

    &--active:hover,
    &--active:focus {
      color: $white;
    }

    &--active:active {
      color: $white;
    }
  }
}
