.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  width: 100px;
}

.slider__toggle {
  padding: 0;
  margin: 0 9px;
  width: 6px;
  height: 6px;

  background-color: $down-link;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $slider-toggle;
    cursor: pointer;
  }

  &:active {
    background-color: $down-cancel;
  }
}

.slider__input--one:checked ~ .slider__wrapper .slider__toggle--one,
.slider__input--two:checked ~ .slider__wrapper .slider__toggle--two,
.slider__input--three:checked ~ .slider__wrapper .slider__toggle--three {
  width: 6px;
  height: 6px;

  background-color: $white;
  border: 3px solid $dark-blue;
}
