body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-blue;

  background-color: $white;
}

a {
  text-decoration: none;
}
