$white: #ffffff;
$black: #000000;
$dark-blue: #283645;
$pink: #d22856;
$light-grey: #f2f2f2;
$grey: #e5e5e5;
$down: rgba($white, 0.3);
$nav-white: rgba($white, 0.15);
$down-mobile: rgba($pink, 0.3);
$down-link: rgba($dark-blue, 0.3);
$down-post: rgba($white, 0.3);
$down-cancel: rgba($dark-blue, 0.1);
$green: #2aab6d;
$dark-green: #1c9b5e;
$slider-toggle: rgba($dark-blue, 0.6);
$quotes: #efefef;
$button-hover: rgba($dark-blue, 0.5);
$focus: #a6c7ff;
